NODE_ENV=development
PORT=3000
API_VERSION=1.0.0
DATABASE_URL="postgresql://secure_publishing_user:secure_publishing_password@localhost:5432/secure_publishing_platform_api?schema=public"
DEV_SUPER_ADMIN_NAME="Development Super Admin"
DEV_SUPER_ADMIN_EMAIL="admin@example.com"
DEV_SUPER_ADMIN_PASSWORD_HASH=""
